:root {
    --ff-heading: 'Epilogue', sans-serif;
    --ff-texting: 'Open sans', sans-serif;
    --hue:250;
    --bg-primary: hsl(var(--hue), 22%, 20%);
    --fc-primary: white;
    --fc-secondary: hsl(var(--hue), 50%, 80%, 1);
}

body {
    font-family: var(--ff-texting);
    background: var(--bg-primary);
    color: var(--fc-primary);
}


header {
    font-family: var(--ff-heading);
}

header p {
    color: var(--fc-secondary);
    text-transform: uppercase;
}